#No subo toda la salida de pdflatex

Ejercicios/Informe/InformeGrymberg.aux
Ejercicios/Informe/InformeGrymberg.log
Ejercicios/Informe/InformeGrymberg.synctex.gz
Ejercicios/Informe/InformeGrymberg.toc

